body {
    background-color: #EAEAEA;
}

h1 { 
    display: flex;
    justify-content: center;
    margin-bottom: 250px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form select {
    margin: 0 5px;
    border-color: red;
}

.options, .button {
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 15px;
}

.button button {
    background-color: black;
    color: white;
    border-radius: 5px
}